/* ROOT */

body {
  overflow-x: hidden;
}

/* NAV SECTION */

nav {
  height: 7%;
  width: 100vw;
  top: 0;
  position: fixed;
  background-color: #649faf;
  z-index: 1;
}

.active {
  visibility: visible;
  transition: 0.4s;
}

.hidden {
  visibility: hidden;
  transition: 0.4s;
  transform: translateY(-100%);
}

.navContent {
  display: flex;
  padding-left: 15%;
  padding-right: 15%;
}

nav h1 {
  margin: 0;
  padding-top: 1.5%;
  color: #fff;
  cursor: default;
}

nav ul {
  padding-top: 0.75%;
  display: flex;
  list-style: none;
}

nav li {
  padding-left: 10%;
  padding-right: 10%;
}

nav a {
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
}

nav a:hover {
  opacity: 0.8;
}

/* HEADER SECTION */

.header {
  height: 62vh;
  padding-left: 18rem;
  padding-right: 18rem;
  background-color: rgb(100, 159, 175);
  display: flex;
  margin-bottom: 3%;
}

.intro {
   margin-top: 12%;
  letter-spacing: .2rem;
  line-height: 4.2rem;
  font-size: 1.65rem;
  color: #fff;
  text-align: center;
  margin-right: 13.25%; 
}

.intro div {
  padding-top: 4%;
}

.intro a {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  font-size: 40%;
  opacity: 0.95;
  text-decoration: none;
  color: black;
  padding: 2%;
}

.intro a:hover {
  opacity: 0.8;
  transform: scale(1.02);
  transition: 150ms;
}

.profilePicture {
  margin-top: 11%;
  height: 70%;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: auto;
}

/* ABOUT SECTION */

.about {
  text-align: center;
  width: 30%;
  font-weight: bold;
  color: black;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  transition: 150ms;
  margin-right: 3%;
}

.about h1 {
  color: #000000;
}

.description {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  color: #444444;
  line-height: 150%;
  font-size: 120%;
}

.aboutSkills {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

/* SKILLS SECTION */

.skills {
  width: 42%;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  transition: 150ms;
  font-weight: bold;
}

.skills h1 {
  text-align: center;
  color: #000000;
}

.skills ul {
  padding: 0;
  margin-top: 0;
  margin-left: 7%;
  margin-right: 7%;
  text-decoration: bold;
}

.skills li {
  color: #3a3a3a;
  font-size: 120%;
  justify-content: space-between;
}

.list {
  list-style: none;
}

.list li {
  text-align: center;
}

.listItem {
  list-style: none;
}

.list img {
  width: 10%;
}

.listFlex {
  justify-content: center;
}

/* PORTFOLIO SECTION */

.portfolio {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 14%;
  padding-right: 14%;
  margin-bottom: 3%;
}

.portfolio h1 {
  color: #000000;
  text-align: center;
}

.card:hover {
  transform: scale(1.02);
  opacity: 0.8;
  cursor: pointer;
}

.cardDiv {
  display: flex;
  flex-wrap: wrap;
  flex: 1 4 auto;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.card {
  width: auto;
  height: auto;
  text-align: center;
  flex: 1 1 20%;
  margin: 8px;
  background-color: rgb(100, 159, 175);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  transition: 150ms;
  border-top: 1px solid rgb(0, 0, 0, 0.11);
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

.card img {
  margin-left: 3%;
  margin-right: 3%;
  width: 90%;
  height: 100%;
  border-radius: 7px;
  max-width: 100%;
  transition: 150ms;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.51);
}

/* CONTACT SECTION */

.contact {
  text-align: center;
  /* margin-left: auto; */
  /* margin-right: auto; */
  width: 25%;
  background-color: #649faf;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
    0 8px 16px rgba(0, 0, 0, 0.11);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border-top: 1px solid rgb(0, 0, 0, 0.11);
  z-index: 2;
  position:absolute;
  /* right: 1; */
  top: 100
}

.contact h1 {
  color: #ffffff;
}

.contactInfo {
  list-style: none;
  padding: 0;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-evenly;
}

.contactInfo a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* FOOTER SECTION */

.footer {
  width: 100%;
  height: 8%;
  position: absolute;
  background-color: rgb(100, 159, 175);
}

.footer h1 {
  text-align: center;
  color: #ffffff;
}

/* MEDIA QUERIES */

/* LARGE TABLET */
@media screen and (max-width: 1600px) {
  .card {
    flex: 1 1 30%;
  }
  .skills {
    width: 40%;
  }
  .header {
    padding-left: 10%;
    padding-right: 10%;
  }
  .intro {
    font-size: 1.5rem;
  }
}

/* TABLET */
@media screen and (max-width: 1300px) {
  .intro {
    font-size: 1.3rem;
    /* margin-right: auto; */
    /* margin-left: auto; */
  }
  .header {
    height: 45vh;
  }
  .card {
    flex: 1 1 45%;
  }
  .contact {
    width: 75%;
  }
  .about {
    width: 45%;
  }
  .skills {
    width: 45%;
  }
}

@media screen and (max-width: 1150px) {
  .header {
    display: block;
  }
  .profilePicture {
    display: none
  }
}

/* TABLET */
@media screen and (max-width: 1150px) {
  body,
  html {
    overflow-x: hidden;
  }
  .header {
    display: block;
    height: 35vh;
  }
  .intro {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
  }
  .intro h1 {
    padding-top: 7%
  }
  .profilePicture {
    display: none
  }
  .about {
    width: 38%;
    /* margin-left: 1%; */
  }
  .skills {
    width: 38%;
    margin-left: 1%;
  }
  .portfolio {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
  }
  .cardDiv {
    flex-direction: column;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .card {
    margin-bottom: 4%;
  }
  .buttons {
    margin-bottom: 3%;
    font-size: 8px;
    padding: 8px;
  }
  .aboutSkills {
    flex-direction: column;
    width: 250%;
  }
  .contact {
    width: 90%;
  }
  .footer {
    height: 1.5%;
  }
}