/* ABOUT SECTION */

.profilePicture {
  height: 25%;
  width: 25%;
  border-radius: 50%;
  border: 4px solid #0f4c75;
  margin-left: 37.25%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.about {
  text-align: center;
  width: 30%;
  background-color: #0f4c75;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
    0 8px 16px rgba(0, 0, 0, 0.11);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  transition: 150ms;
  border-top: 1px solid rgb(0, 0, 0, 0.11);
  margin-right: 3%;
}

.about h1 {
  color: #ffffff;
}

.description {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  color: #ffffff;
}

.aboutSkills {
  display: flex;
  justify-content: center;
}

/* SKILLS SECTION */

.skills {
  width: 30%;
  background-color: #0f4c75;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
    0 8px 16px rgba(0, 0, 0, 0.11);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  transition: 150ms;
  border-top: 1px solid rgb(0, 0, 0, 0.11);
}

.skills h1 {
  text-align: center;
  color: #ffffff;
}

.skills ul {
  padding: 0;
  margin-top: 0;
  margin-left: 7%;
  margin-right: 7%;
}

.skills li {
  color: #ffffff;
}

.list {
  list-style: circle;
}
.list li {
  text-align: left;
}

.listFlex {
  display: flex;
  justify-content: center;
}

/* PORTFOLIO SECTION */

.portfolio {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.5%;
  text-align: center;
  flex: 1 1 20%;
  background-color: #0f4c75;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
    0 8px 16px rgba(0, 0, 0, 0.11);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  transition: 150ms;
  border-top: 1px solid rgb(0, 0, 0, 0.11);
}

.portfolio h1 {
  color: #ffffff;
}

.card:hover {
  transform: scale(1.02);
}

.cardDiv {
  display: flex;
  flex-wrap: wrap;
  flex: 1 4 auto;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.card {
  width: auto;
  text-align: center;
  flex: 1 1 20%;
  margin: 8px;
  background-color: #3282b8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
    0 8px 16px rgba(0, 0, 0, 0.11);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  transition: 150ms;
  border-top: 1px solid rgb(0, 0, 0, 0.11);
}

.card img {
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
  width: 92%;
  height: 50%;
  border-radius: 15px;
  max-width: 100%;
  transition: 150ms;
}

.card img:hover {
  transform: scale(1.01);
}

.card p {
  color: #ffffff;
}

.buttons {
  margin-bottom: 8%;
}

.buttons a {
  text-decoration: none;
  color: #0f4c75;
}

.card .code {
  border: none;
  margin-right: 1%;
  border-radius: 10px;
  font-size: 17px;
  padding: 8px;
}

.code:hover {
  transform: scale(1.05);
  transition: 150ms;
}

.card .site {
  border: none;
  margin-left: 1%;
  border-radius: 10px;
  font-size: 17px;
  padding: 8px;
}

.site:hover {
  transform: scale(1.05);
  transition: 150ms;
}

/* CONTACT SECTION */

.contact {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  background-color: #0f4c75;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
    0 8px 16px rgba(0, 0, 0, 0.11);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  transition: 150ms;
  border-top: 1px solid rgb(0, 0, 0, 0.11);
}
.contact h1 {
  color: #ffffff;
}

.contactInfo {
  list-style: none;
  padding: 0;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-evenly;
}

.contactInfo a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* FOOTER SECTION */

.footer {
  width: 100%;
  height: 8%;
  position: absolute;
  background-color: rgb(0, 0, 0);
}

.footer p {
  text-align: center;
  padding-top: 0.8%;
  color: #ffffff;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
  .card {
    flex: 1 1 30%;
  }
  .contact {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  body, html {
    overflow-x: hidden;
  }
  .profilePicture {
    height: 95%;
    width: 95%;
    margin-left: 1.5%;
  }
  .about {
    width: 38%;
    margin-left: 1%;
  }
  .skills {
    width: 38%;
    margin-left: 1%;
  }
  .portfolio {
    width: 95%;
  }
  .cardDiv {
    flex-direction: column;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .card {
    margin-bottom: 4%;
  }
  .buttons {
    margin-bottom: 3%;
    font-size: 8px;
    padding: 8px;
  }
  .aboutSkills {
    flex-direction: column;
    width: 250%;
  }
  .contact {
    width: 90%;
  }
  .footer {
    height: 1.5%;
  }
}
